:root {
  --main-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --bg-color: #f5f4fa;
  --foot-bg-color: #2f303a;
}
html {
  box-sizing: border-box;
}

/*основной цвет текста #212121*/
/*вторичный цвет #757575*/
/*акцент цвет #2196F3*/
/*основной цвет фона #ffffff*/
/*вторичный цвет фона #F5F4FA*/
/*подвал цвет адреса rgba(255, 255, 255, 0.6);*/
/*подвал цвет фона #2F303A*/
body {
  font-family: Roboto;
  color: var(--main-color);
  background-color: var(--main-bg-color);
  letter-spacing: 0.03em;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.card-set {
  display: flex;
}
.card-set > .feat-item {
  flex-basis: calc(100% / 4);
}
.card-set > .we-do-item {
  flex-basis: calc(100% / 3);
}
.flex {
  display: flex;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  max-width: 1200px;
}
.container.padding-bottom {
  padding-bottom: 94px;
}
.container.foot-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}
.container.no-padding {
  padding-top: 0;
}
.header {
  border: 1px solid #ececec;
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-color);
  margin-right: 85px;
}
.logo-web {
  color: var(--accent-color);
}
.logo.foot {
  color: var(--main-bg-color);
}
.footer {
  background-color: var(--foot-bg-color);
}
.site-nav {
  padding-top: 25px;
  padding-bottom: 25px;
}
.site-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-color);
}
.site-nav a:focus,
.site-nav a:hover {
  color: var(--accent-color);
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.active-page a {
  color: var(--accent-color);
}
.head-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.head-contact a:hover,
.head-contact a:focus {
  color: var(--accent-color);
}
.head-contact :first-child {
  margin-right: 20px;
}

.section {
  color: var(--main-color);
}
.section-text {
  color: var(--text-color);
}
.bgcolor {
  width: auto;
  background-color: var(--bg-color);
}

.hero {
  padding: 200px 0;
  text-align: center;
  max-width: auto;
  height: 600px;

  background: #2f303a;
}
.hero-title {
  margin: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}
.btn {
  display: inline-flex;
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  position: absolute;
  margin-top: 30px;
  padding: 10px 32px;
  max-width: 200px;
  max-height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.features .title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feat-text {
  padding-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.18;
}
.feat-item:not(:last-child) {
  margin-right: 25px;
}
.we-do-item:not(:last-child) {
  margin-right: 15px;
}
.main-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-list > .team-item {
  display: inline-block;
  flex-basis: calc(100% / 4);
}
.team-list > .team-item:not(:last-child) {
  margin-right: 20px;
}
.team-item {
  width: 270px;
  height: 368px;
  background: var(--main-bg-color);
  box-shadow: 1px 3px 0px rgb(0 0 0 / 12%);
}
.team-card-text {
  padding: 30px 55px;
  text-align: center;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
}
.foot-contacts {
  margin-top: 20px;
}
.address-item:not(:first-child) {
  margin-top: 9px;
}
.address .link {
  font-style: normal;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-bg-color);
}
.link.link-rgba {
  color: rgba(255, 255, 255, 0.6);
}
/*Стили Портфолио*/
:root {
  --btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.port-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.port-btn {
  display: inline-block;
  width: auto;
  height: auto;
  position: inherit;
  background-color: var(--accent-color);
  box-shadow: var(--btn-shadow);
  border-radius: 4px;
  border-color: transparent;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
.port-btn.not-active {
  color: var(--main-color);
  background-color: var(--bg-color);
}
.port-btn-list > .port-btn-item:not(:last-child) {
  margin-right: 8px;
}
.container.portfolio {
  padding-top: 0;
  padding-bottom: 94px;
}
.port-list {
  display: flex;
  flex-wrap: wrap;
}
.port-list-item {
  background-color: var(--main-bg-color);
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 60px) / 3);
  margin-bottom: 30px;
}
.port-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.port-cards-text {
  padding: 20px 24px;
}
.port-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.port-subtitle {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}
/*основной цвет текста #212121*/
/*вторичный цвет #757575*/
/*акцент цвет #2196F3*/
/*основной цвет фона #E5E5E5*/
/*вторичный цвет фона #F5F4FA*/
/*подвал цвет адреса rgba(255, 255, 255, 0.6);*/
/*подвал цвет фона #2F303A*/
